/* ================= BASE ==================== */
li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.bx {
    font-size: 2.5rem;
}

.container {
    padding: 0 2rem;
}

/* -- BODY -- */
body {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    background-color: var(--white-color);
}

/* ================= HEADER ================ */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-color);
    padding: 1rem 2rem;
}

.company-logo {
    font-size: 2.5rem;
    background: -webkit-linear-gradient(120deg,
            var(--primary-color-alt),
            var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-items {
    display: flex;
}

.nav-item {
    margin: 0 2rem;
}

.nav-link {
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    position: relative;
    background: -webkit-linear-gradient(var(--primary-color-alt),
            var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link::before {
    content: "";
    background: linear-gradient(var(--primary-color), var(--primary-color-alt));
    width: 100%;
    height: 0.05rem;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 150ms;
}

.nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu-toggle {
    display: none;
}

.bx-menu,
.bx-x {
    cursor: pointer;
    background: -webkit-linear-gradient(120deg,
            var(--primary-color-alt),
            var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* =============== MEDIA QUERIES ======= */

@media screen and (max-width: 768px) {
    .container {
        padding: 0 1rem;
    }

    /* ================= HEADER ================ */
    header {
        padding: 0.5rem 1rem;
    }

    .navbar {
        background-color: var(--dark-color);
        position: absolute;
        top: 3.5rem;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform 500ms;

    }

    .show-navbar {
        display: flex;
        transform: scaleY(1);
        transform-origin: top;
        transition: transform 300ms;
        z-index: 1;
    }

    .nav-items {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10vh;
    }

    .nav-item {
        margin: 0.5rem 0;
    }

    .menu-toggle {
        display: block;
    }

    .bx-menu {
        display: block !important;
    }

    .show-bx {
        display: block !important;
    }

    .hide-bx {
        display: none !important;
    }
}

@media (min-width: 769px) {
    header {
        padding: 1rem 5rem;
    }
}

.nav-search {
    position: relative;
}

.nav-search .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.nav-search .search input {
    background: transparent;
    outline: none;
    border: none;
    color: #ccc;
    font-size: 14px;
    border-bottom: solid 1px #fff;
    padding-block: 3px;
    width: 160px;
}